<footer class="site-footer">
  <div class="wrapper">
    <!-- Google Analitics -->

    <!-- Google Analitics -->

    <div align="center">
      {% if page.keywords %}
      <p>
        <strong>Tags:</strong> {{ page.keywords | strip_html | strip_newlines |
        truncate: 160 }} {% endif %}
      </p>
    </div>

    <h2 class="footer-heading" align="center">
      <a href="https://jsdev.org">jsdev.org</a> ||
      <a href="https://javadev.org">javadev.org</a> ||
      <a href="https://csdev.net">csdev.net</a>
    </h2>
    <p align="center">
      Opensource проект с кодами на
      <a href="https://bitbucket.org/code-examples/csdev.net">bitbucket</a>.
      Желающие могут поучавствовать в его развитии.
    </p>
  </div>
</footer>
